<h1>Stupid Coaching</h1>

<p id="para">Ask your coach anything: </p>

<form action="/answer" id="form">
  <input type="text" name="question" placeholder="write something here" id="input-bar">
  <input type="submit" value="Ask" id="submit-btn">
</form>
